@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toast-stack {
  display: flex;
  position: absolute;
  z-index: 10;
  gap: .1rem;
  &[class*='top-'] {
    top: 1rem;
    flex-direction: column;
  }
  &[class*='bottom-'] {
    bottom: 1rem;
    flex-direction: column-reverse;
  }
  &[class*='-left'] {
    left: 1rem;
    align-items: flex-start;
  }
  &[class*='-right'] {
    right: 1rem;
    align-items: flex-end;
  }
  &[class*='-center'] {
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }
}

.toast {
  position: relative;
  overflow: hidden;
}

@keyframes countdown {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}